.ticketBoxContainer {
    width: 60%;
    border-bottom: 1px solid #D5D5D5;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  
  .ticketBoxContainer p {
    width: 23%;
    text-align: left;
    margin: 0;
    color: #333333;
  }
  