.boxRowContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    text-align: center;
    gap: 15px;
}

.boxRowContainerChildren {
    display: flex;
    color: #33333370;
}